/* ==========================================================================
  BASE STYLES
========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* ==========================================================================
  HEADER
========================================================================== */

/*Header*/
header {
	background: #1a1a1a;
  position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	border-bottom: 5px solid #a6a6a6; /*headerTextColor*/
  font-family: 'Orbitron', sans-serif;
	z-index: 1;
}

/*Header - Stick to Top of Page*/
body {
  margin-top: 100px;
}

/*Header - Title*/
.page-title {
  position: absolute;
  color: #fff; /*headerTextSelectedColor*/
  width: 48.2%;
  padding: 20px 0 20px 10px;
  font-size: 125%;
  margin: 0;
  display: block;
  float: left;
  font-weight: 100;
}

/*Header - Navigation*/
nav {
  width: 48.2%;
  display: block;
  float: right;
  padding: 28px 20px 28px 20px;
}

/*Header - Navigation Items*/
nav a {
	color: #a6a6a6; /*headerTextColor*/
	text-decoration: none;
	font-weight: 100;
  padding: 20px 10px 20px 10px;
  display: block;
}

/*Header - Navigation Items: Hover*/
nav a:hover {
	color: #fff; /*headerTextSelectedColor*/
}

/*Header - Navigation Unordered List */
nav ul, nav:active ul {
  list-style: none;
  float: right;
  display: none;
  position: absolute;
  background: #404040;
  border: 2px solid #000;
  right: 20px;
  top: 65px;
  width: 40%;
}

/*Header - Navigation List Items*/
nav li {
  text-align: center;
  width: 100%;
  border:1px solid #000;
  margin: 0;
  font-size: 80%;
  float: left;
}

/* Header - Navigation: Hover */
nav:hover ul {
  display: block;
  cursor: pointer;
}

/*Header - Navigation Menu Icon*/
#menu-icon {
	width: 40px;
	height: 40px;
  border-radius: 6px;
	background: #b3b3b3 url(../img/menu.svg) center;
  float: right;
  display: inline-block;
}

/*Header - Navigation Menu Icon: Hover*/
a:hover#menu-icon {
	background-color: #404040;
	border-radius: 2px;
  cursor: pointer;
}

/*Header - Selected Class*/
.selected {
  text-decoration: underline;
  color: #fff; /*headerTextSelectedColor*/
}

/* ==========================================================================
  PAGE - HOME
========================================================================== */

/*Home Page - Background Image*/
.image-home-page {
  background-image: url('../img/main-page-small-screen.png');
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 200px;
  background-size: cover;
  height: calc(100vh - 40px - 100px);
  overflow: hidden;
}

/* ==========================================================================
  PAGE - ABOUT
========================================================================== */

/*Standard Formatting for all Pages*/
.about, .research, .resume, .contact {
  padding: 30px 0 30px 0;
  display: block;
  font-family: 'Lora', serif;
  line-height: 1.6;
  width: 93%;
  margin: 0 auto;
}

/*Standard Formatting for all Images*/
.about img, .research img, .contact img {
  width: 100%;
  margin-bottom: 20px;
}

/*Standard Formatting for all Page Headers*/
.about h2, .research h2, .contact h2 {
  display: block;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

/*Standard Formatting for all Paragraphs*/
.about p, .research p, .contact p {
  font-size: 90%;
  margin-bottom: 15px;
}

/*Standard Formatting for all Break Lines*/
.about .break,
.research .break,
.resume .break,
.contact .break {
  height: 35px;
  margin: 15px 5% 0 5%;
  border-top: 1px solid #a6a6a6; /*headerTextColor*/
}

/* ==========================================================================
  PAGE - RESEARCH
========================================================================== */

/*Research Page - Picture Captions*/
.research p {
  text-align: center;
}

/*Research Page - Selector Overlay for Modals*/
.overlay {
  display: none;
}

/*Research Page - Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

/*Research Page - Modal - Close Button*/
.close-button {
  color: white;
  float: right;
  font-weight: bold;
}

/*Research Page - Modal - Close Button:Hover*/
.close-button:hover,
.close-button:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/*Research Page - Modal - Content*/
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*Research Page - Modal - Header*/
.modal-header {
  padding: 5px 20px;
  font-size: 200%;
  background-color: #da190b;
  color: white;
}

/*Research Page - Modal - Body*/
.modal-body {
  padding: 25px 20px;
  line-height: 1.5;
}

/*Research Page - Modal - Images*/
.research-modals img {
    width: 200px;
    margin-bottom: 20px;
}

/*Research Page - Modal - Paragraphs*/
.research-modals p {
  margin-bottom: 15px;
}

/*Research Page - Modal - Placeholder Image 1*/
.modal-1-img-1 {
  margin-right: 20px;
  float: left;
}

/*Research Page - Modal - Placeholder Image 2*/
.modal-1-img-2 {
  margin-left: 20px;
  float: right;
}

/* ==========================================================================
  PAGE - RESUME
========================================================================== */

/*Resume Page - Summary Column for Section Title*/
.summary-column {
  font-weight: 600;
  width: 100%;
  text-align: center;
}

/*Resume Page - Summary Column - Section Title*/
.summary-column h3 {
  font-size: 110%;
  text-transform: uppercase;
}

/*Resume Page - Content Column for Section*/
.details-column {
  padding: 20px 0 20px 10%;
  font-size: 85%;
  line-height: 2;
  width: 100%;
  text-align: left;
  list-style-position: inside;
}

/*Resume Page - Content Column for Section (Larger Content Sections)*/
.resume-large-content .details-column {
  padding: 20px 0 20px 0;
}

/*Resume Page - Content Column for Section (Larger Content Sections) - No Bullets*/
.resume-large-content ul {
  list-style: none;
}

/*Resume Page - Content Column for Section (Larger Content Sections) - Spacing Between Items*/
.resume-large-content li {
  padding: 15px 0 15px 0;
}

/*Resume Page - Content Column for Section (Larger Content Sections) - Center Text for Skills Section*/
#resume-section-skills li {
  text-align: center;
  padding: 5px 0 5px 0;
}

/*Resume Page - Content Column for Section (Larger Content Sections) - Title*/
.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
}

/*Resume Page - Content Column for Section (Larger Content Sections) - Organization*/
.org {
  text-transform: uppercase;
}

/*Resume Page - Content Column for Section (Larger Content Sections) - Date*/
.date {
  font-style: italic;
}

/*Resume Page - Content Column for Section (Larger Content Sections) - Description*/
.description {
  padding-top: 2px;
}

/* ==========================================================================
  CONTACT
========================================================================== */

#email-icon {
  position: relative;
	width: 20px;
	height: 20px;
  border-radius: 6px;
  border: 3px solid #b3b3b3;
	background: #b3b3b3 url(../img/email.svg) center;
  margin-right: 10px;
  float: left;
}

.email {
  font-size: 90%;
  display: inline-block;
}

.email-center {
  width: 100%;
  text-align: center;
}


/* ==========================================================================
  FOOTER
========================================================================== */

/*Div for All Non-Footer Content*/
.content {
  min-height: calc(100vh - 40px - 100px);
}

/*Footer*/
footer {
  text-align: center;
  padding: 10px 5px;
  background: #1a1a1a;
  width: 100%;
  color: #a6a6a6; /*headerTextColor*/
  font-family: 'Orbitron', sans-serif;
  font-size: 65%;
  border-top: 5px solid #a6a6a6; /*headerTextColor*/
  height: 40px;
}

/* ==========================================================================
  MEDIA QUERIES
========================================================================== */

@media only screen and (min-width : 350px) and (max-width : 550px) {

  /*Header - Title*/
	.page-title {
    padding: 30px 0 30px 20px;
    width: 76.2%;
    font-size: 150%;
	}

  /*Header - Navigation*/
  nav {
    width: 20.2%;
  }

  /*Header - Navigation List Items*/
  nav li {
    font-size: 100%;
  }

  /*Resume Page - Content Column for Section*/
  .details-column {
    padding: 20px 0 10px 20%;
  }

  /*Resume Page - Content Column for Section (Larger Content Sections)*/
  .resume-large-content .details-column{
    padding: 20px 10px 10px 10px;
    max-width: 420px;
    margin: 0 auto;
  }

  /*Contact Page - Email Icon*/
  #email-icon {
  	width: 25px;
  	height: 25px;
  }

  /*Contact Page - Email Address*/
  .email {
    font-size: 100%;
  }

  /*Footer*/
  footer {
    font-size: 75%;
  }

}

@media only screen and (min-width : 551px) and (max-width : 999px) {

  /*Header - Title*/
  .page-title {
    padding: 25px 0 30px 20px;
    width: 76.2%;
    font-size: 200%;
	}

  /*Header - Navigation*/
  nav {
    width: 20.2%;
  }

  /*Header - Navigation Unordered List*/
  nav ul, nav:active ul {
    width: 250px;
  }

  /*Header - Navigation List Items*/
  nav li {
    font-size: 100%;
  }

  /*Home Page - Background Image*/
  .image-home-page {
   background-image: url('../img/main-page-large-screen.png');
  }

  /*Standard Formatting for all Pages*/
  .about, .research, .resume, .contact {
    padding: 50px 0 30px 0;
  }

  /*About Page - Images*/
  .about img, {
    width: 300px;
  }

  /*About Page - Placeholder Image 1*/
  .about-img-1 {
    margin-right: 20px;
    float: left;
  }

  /*About Page - Placeholder Image 2*/
  .about-img-2 {
    margin-left: 20px;
    float: right;
  }

  /*About Page, Contact Page - Section Headers*/
  .about h2, .contact h2 {
    text-align: left;
  }

  .research-project {
    max-width: 400px;
    margin: 0 auto;
  }

  /*Resume Page - Content Column for Section*/
  .details-column {
    padding: 30px 0 15px 30%;
    font-size: 100%;
  }

  /*Resume Page - Content Column for Section (Larger Content Sections)*/
  .resume-large-content .details-column{
    padding: 30px 10% 20px 10%;
    max-width: 700px;
    margin: 0 auto;
  }

  /*Resume Page - Summary Column - Section Title*/
  .summary-column h3 {
    font-size: 120%;
  }

  /*Resume Page - Content Column for Section (Larger Content Sections) - Title*/
  .title {
    font-size: 110%;
  }

  /*Contact Page - Column 1*/
  .contact .col1 {
    width: 48.2%;
  	display: block;
  	float: left;
  }

  /*Contact Page - Column 2*/
  .contact .col2 {
    width: 48.2%;
  	display: block;
  	float: right;
  }

  /*Contact Page - Placeholder Image 1*/
  .contact img {
    margin-right: 20px;
    float: left;
    max-width: 400px;
  }

  /*Contact Page - Email Icon*/
  #email-icon {
  	width: 30px;
  	height: 30px;
  }

  /*Contact Page - Email Address*/
  .email {
    font-size: 115%;
  }

  /*Footer*/
  footer {
    font-size: 75%;
  }

}

@media only screen and (min-width : 1000px) {

  /*Header - Title*/
  .page-title {
    position: relative;
    width: 34.2%;
    padding: 25px 0 20px 40px;
    font-size: 200%;
  }

  /*Header - Navigation Menu Icon*/
  #menu-icon {
		display: none;
	}

  /*Header - Navigation*/
  nav {
    width: 62.2%;
    padding: 15px 20px 15px 20px;
  }

  /*Header - Navigation Items*/
  nav a {
    padding: 20px;
    font-weight: bold;
  }

  /*Header - Navigation Unordered List*/
  nav ul, nav:active ul {
    display: block;
    position: relative;
    background: none;
    border: none;
    right: 0;
    top: 0;
    width: auto;
  }

  /*Header - Navigation: Hover*/
  nav:hover ul {
		display: block;
	}

  /*Header - Navigation List Items*/
  nav li {
  	display: inline-block;
    text-align: center;
    width: auto;
    border: none;
    font-size: 100%;
  }

  /*Home Page - Background Image*/
  .image-home-page {
   background-image: url('../img/main-page-large-screen.png');
  }

  /*Standard Formatting for all Pages*/
  .about, .research, .resume, .contact {
    padding: 50px 0 30px 0;
    width: 100%;
  }

  /*Grid System - Wrap (About Page, Research Page)*/
  .about .wrap, .research .wrap, .contact .wrap {
    padding-right: 40px;
    padding-left: 40px;
  }

  /*About Page - Images*/
  .about img {
    width: 400px;
  }

  /*About Page - Placeholder Image 1*/
  .about-img-1 {
    margin-right: 20px;
    float: left;
  }

  /*About Page - Placeholder Image 2*/
  .about-img-2 {
    margin-left: 20px;
    float: right;
  }

  /*About Page, Contact Page - Section Headers*/
  .about h2, .contact h2 {
    text-align: left;
  }

  /*Research Page - Standard Formatting*/
  .research {
    padding: 60px 0 10px 0;
  }

  /*Research Page - Section Headers*/
  .research h2 {
    margin-bottom: 20px;
  }

  /*Research Page - Section Images*/
  .research img {
    margin-bottom: 10px;
  }

  /*Research Page - Sections (Projects)*/
  .research-project {
    margin-bottom: 60px;
    width: 250px;
    position: relative;
  }

  /*Research Page - Left Column*/
  .research .col1 {
    width: 48.2%;
  	display: block;
  	float: left;
  }

  /*Research Page - Left Column - Sections (Projects)*/
  .research .col1 .research-project{
    float: right;
    margin-right: 40px;
  }

  /*Research Page - Right Column*/
  .research .col2 {
    width: 48.2%;
  	display: block;
  	float: right;
  }

  /*Research Page - Right Column - Sections (Projects)*/
  .research .col2 .research-project{
    float: left;
    margin-left: 40px;
  }

  /*Research Page - Sections (Projects):Hover*/
  .research-project:hover .overlay{
  	opacity: 0.9;
  }

  /*Research Page - Selector Overlay for Sections (Projects)*/
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #a6a6a6; /*headerTextColor*/
    cursor: pointer;
    display: inline;
  }

  /*Research Page - Selector Overlay for Sections (Projects) - Text*/
  .overlay-text {
    color: black;
    font-size: 175%;
    position: absolute;
    top: 40%;
    left: 10%;
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45eg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /*Standard Formatting for all Break Lines (Remove from Research Page)*/
  .research .break {
    height: 0px;
    margin: 0;
    border-top: none;
  }

  /*Grid System - Resume Page - Remove Standard to accomodate Rows*/
  .large-display-div .group:before,
  .large-display-div .group:after { display: inline; }

  .large-display-div .group:after,
  .large-display-div .section,
  .large-display-div .group { clear: none;}

  .large-display-row:before,
  .large-display-row:after { content:""; display:table; }

  .large-display-row:after { clear: both;}

  /*Resume Page - Summary Column - Section Title*/
  .summary-column {
    width: 48.2%;
    float: left;
  }

  /*Resume Page - Summary Column - Section Title*/
  .summary-column h3 {
    padding-left: 40px;
    font-size: 130%;
  }

  /*Resume Page - Content Column for Section*/
  .details-column {
    width: 48.2%;
    float: right;
    padding: 20px 0 15px 10px;
    font-size: 100%;
  }

  /*Resume Page - Content Column for Section (Larger Content Sections) - Center Text for Skills Section*/
  #resume-section-skills li {
    text-align: left;
  }

  /*Resume Page - Content Column for Section (Larger Content Sections)*/
  .resume-large-content .details-column {
    padding: 0 0 0 10px;
  }

  /*Resume Page - Content Column for Section (Larger Content Sections) - Title*/
  .title {
    font-size: 110%;
  }

  /*Contact Page - Placeholder Image 1*/
  .contact img {
    margin-right: 20px;
    float: left;
    max-width: 400px;
  }

  /*Contact Page - Column 1*/
  .contact .col1 {
    width: 48.2%;
    display: block;
    float: left;
  }

  /*Contact Page - Column 2*/
  .contact .col2 {
    width: 48.2%;
    display: block;
    float: right;
    padding-top: 60px;
  }

  /*Contact Page - Email Icon*/
  #email-icon {
    width: 40px;
    height: 40px;
  }

  /*Contact Page - Email Address*/
  .email {
    font-size: 125%;
  }

  /*Footer*/
  footer {
    font-size: 75%;
  }

}

/* ==========================================================================
  GRID SYSTEM
========================================================================== */

/*Grid System - Page Wrap*/
.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/*Grid System - Section*/
/*	No floating elements allowed on either the left or the right side */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*Grid System - Group*/
/*	Clearfix -  automatically clear its child elements */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
